.nav-container {
  width: 100%;
  height: 5rem;
  background: linear-gradient(
    180deg,
    rgb(27, 49, 51),
    rgb(9, 67, 71),
    rgb(17, 75, 80),
    rgb(9, 67, 71),
    rgb(27, 49, 51)
  );
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  animation: rotateGradient 45s infinite linear;
  z-index: 100;

  .logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    mix-blend-mode: screen;
  }

  .desktop-menu {
    display: flex;
    gap: 1.5rem;

    .item {
      font-size: 18px;
      color: #fff;
      transition: 0.5s;
      padding: 6px;
      font-family: 'Times New Roman', Times, serif;
      letter-spacing: 0.5px;
      font-weight: 600;
      cursor: pointer;

      .menu-name {
        border-radius: 12px;
        transition: 0.5s;
        padding: 4px;

        &:hover {
          border-bottom: 3px solid #0ef;
          color: #0ef;
        }

        &.active {
          border-bottom: 3px solid #0ef;
          color: #0ef;
        }
      }
    }
  }

  .mobile-menu-icon {
    display: none;
    cursor: pointer;
    color: white;
    z-index: 110;
  }

  .mobile-menu-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    background: linear-gradient(
      180deg,
      rgb(27, 49, 51),
      rgb(9, 67, 71),
      rgb(17, 75, 80),
      rgb(9, 67, 71),
      rgb(27, 49, 51)
    );
    &.active {
      transform: translateX(0);
    }

    .menu-header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      background: linear-gradient(
        180deg,
        rgb(27, 49, 51),
        rgb(9, 67, 71),
        rgb(17, 75, 80),
        rgb(9, 67, 71),
        rgb(27, 49, 51)
      );
      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #fff;
        font-family: cursive;
        font-style: italic;
        letter-spacing: 1px;
      }
    }

    .menu-content {
      flex-grow: 1;
      padding: 1rem;

      ul {
        list-style: none;
        padding: 0;

        li {
          padding: 10px  14px;
          cursor: pointer;
         font-family: 'Times New Roman', Times, serif;
         letter-spacing: 1px;
         font-weight: 600;
          &:hover {
            background-color: rgb(0, 82, 88);
            border-radius: 4px;
            box-shadow: 0px 4px 6px rgb(0, 82, 88,);

          }
        }
      }
    }

    .menu-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background: linear-gradient(
        180deg,
        rgb(27, 49, 51),
        rgb(9, 67, 71),
        rgb(17, 75, 80),
        rgb(9, 67, 71),
        rgb(27, 49, 51)
      );
      svg {
        margin: 0 10px;
        cursor: pointer;
        color: white;
      }
    }
  }

  @media (max-width: 800px) {
    .desktop-menu {
      display: none;
    }

    .mobile-menu-icon {
      display: block;
    }
  }
}

@keyframes rotateGradient {
  0% {
    background: linear-gradient(
      0deg,
      rgb(27, 49, 51),
      rgb(9, 67, 71),
      rgb(17, 75, 80),
      rgb(9, 67, 71),
      rgb(27, 49, 51)
    );
  }
  50% {
    background: linear-gradient(
      47deg,
      rgb(27, 49, 51),
      rgb(9, 67, 71),
      rgb(14, 75, 75),
      rgb(9, 67, 71),
      rgb(27, 49, 51)
    );
  }
  100% {
    background: linear-gradient(
      120deg,
      rgb(27, 49, 51),
      rgb(9, 67, 71),
      rgb(17, 75, 80),
      rgb(9, 67, 71),
      rgb(27, 49, 51)
    );
  }
}
